<!-- Footer -->
<footer class="bg-body-tertiary text-center">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.facebook.com/EYCareersSpain/videos/ey-ironhack-bootcampmp4/622216839481447/?locale=es_LA" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

     
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://twitter.com/?lang=es" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.google.com/?hl=es" role="button"
        ><i class="fab fa-google"></i
      ></a>

    
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.instagram.com" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.linkedin.com/in/sergio-esteban-229a55279/" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

     
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://github.com/sergioironhacker/Ironhack-News" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    

  
    <section class="">
      <form action="">
        
        <div class="row d-flex justify-content-center">
          
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          

          
          <div class="col-md-5 col-12">
          
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" id="form5Example24" class="form-control" />
              <label class="form-label" for="form5Example24"><strong>Email address</strong></label>
            </div>
          </div>
          

          
          <div class="col-auto">
           
            <button data-mdb-ripple-init type="submit" class="btn btn-outline mb-4">
             <strong>Subscribe</strong> 
            </button>
          </div>
          
        </div>
       
      </form>
    </section>
    

   
    <section class="mb-4">
      <p>
      ¡No te pierdas ni un solo detalle de las últimas noticias, actualizaciones exclusivas y contenido especial! Suscríbete a nuestra newsletter ahora mismo y mantente informado al instante sobre todo lo que acontece en nuestro mundo, recibiendo directamente en tu bandeja de entrada la información más relevante, artículos destacados, eventos imperdibles y promociones especiales que tenemos preparados para ti.
      </p>
    </section>
  

  <section class="video-section">
  <h2>Ironhack</h2>
  <img src="/videos/ironV.gif" alt="Ironhack GIF" width="1280" height="470">
</section>
   
  

 
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="http://localhost:3000">Ironhack-news</a>
  </div>
  
</footer>
