<div class="colores">

    <span class="activo" style="--clr:#ffffffb4;" onclick="cambiarColor('#ffffffb4')"></span>
    <span style="--clr:#473f3fc2;" onclick="cambiarColor('#473f3fc2')"></span>
    <span style="--clr:#ded777d7;" onclick="cambiarColor('#ded777d7')"></span>
         
</div>

<script>

    function  cambiarColor(color) {
document.body.style.background = color;
document.querySelectorAll('span').forEach(function(item){
    item.classList.remove('activo');
});

event.target.classList.add('activo');
    }

</script>





 