
<div class="colores">

    <span class="activo" style="--clr:#ffffffb4;" onclick="cambiarColor('#ffffffb4')"></span>
      <span style="--clr:#d11d1dc2;" onclick="cambiarColor('#d11d1dc2')"></span>
        <span style="--clr:#1d8fd1d7;" onclick="cambiarColor('#1d8fd1d7')"></span>
          <span style="--clr:#17d14f;" onclick="cambiarColor('#17d14f')"></span>
            <span style="--clr:#d1561de1;" onclick="cambiarColor('#d1561de1')"></span>

</div>
</nav>

<script>

    function  cambiarColor(color) {
document.body.style.background = color;
document.querySelectorAll('span').forEach(function(item){
    item.classList.remove('activo');
});

event.target.classList.add('activo');
    }

</script>





 