
<script>

    function  cambiarColor(color) {
document.body.style.background = color;
document.querySelectorAll('span').forEach(function(item){
    item.classList.remove('activo');
});

event.target.classList.add('activo');
    }

</script>


<div class="colores mt-1">

    <span class="activo" style="--clr:#ffffffb4;" onclick="cambiarColor('#ffffffb4')"></span>
    <span style="--clr:#473f3fc2;" onclick="cambiarColor('#473f3fc2')"></span>
   
         
</div>


 