/* body {
    background-image: url('https://previews.123rf.com/images/sergiobarrios/sergiobarrios1504/sergiobarrios150400072/38517914-diarios-del-mundo-detalle-de-peri%C3%B3dicos-con-noticias-informaci%C3%B3n-y-lectura.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */



/* // manejo del profile  */

.profile-image-label {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
  }
  
  .profile-image-label:hover .profile-image {
    transform: scale(1.05);
  }


.profile-image {

    max-height: 300px; 
    width: 300px; 
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}



/* // likes 
 */


#likeIcon {
    font-size: 28px; 
}

