

.profile-image-label {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
  }
  
  .profile-image-label:hover .profile-image {
    transform: scale(1.05);
  }


.profile-image {

    max-height: 300px; 
    width: 300px; 
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}



/* // likes  */


#likeIcon {
    font-size: 28px; 
}

.bi-heart-fill {
  color: pink;
  animation: colorChange 2s infinite;
}

@keyframes colorChange {
  0% {
    color: pink; 
  }
  50% {
    color: rgba(238, 2, 2, 0.486); 
  }
  100% {
    color: rgba(252, 167, 180, 0.979); 
  }
}


/* // reglas del sitio web  */

.rules-container {
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 9999; 
  max-width: 80%; 
  display: block;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  list-style: none;
  background-repeat: no-repeat;
  color: black;
}


.rules-container ul {
  list-style: none; 
  padding: 0;
  margin: 0; 
  text-align: left; 
  color: black;
}

.rules-container button {

  margin-top: 20px; 
  margin-left: 15px;
 
}

/* // estilo de las cards */

.card {
  border: none;
  box-shadow: 10px 14px 18px 18px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
 
}

.card:hover {
  transform: translateY(-30px);
}




/* // cambio de colores en la pagina  */

* {
  margin: 0;
  padding: 0;

}



.colores {
position: absolute;
right: 0;
width: 75px;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


}

.colores span {
  position: relative;
  width: 30px;
  height: 30px;
  background: var(--clr);
  margin: 15px 0;
  border-radius: 50%;
  cursor: pointer;
}

.colores span.activo {
  border: 3px solid #333;
}

.colores span::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  opacity: 0;
  transition: 0.5s;
}

.colores span.activo::before {
  opacity: 1;
}


.card-style {
  border: none;
  box-shadow: 10px 14px 18px 18px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  display: inline-block; 
  padding: 10px; 
  text-decoration: none; 
  color: inherit; 
  border-radius: 8px; 
  
}

.card-style:hover {
  transform: translateY(-10px); 
}




#map {
  height: 500px;
  width: 100%;
 }



/* flag  */



.spain-flag {
  position: relative;
  width: 200px;
  height: auto;
  animation-name: explode;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}







