<div class="profile-page d-flex justify-content-center align-items-center">
  <div class="container profile-container text-center">
    <h1>{{currentUser.username}}</h1>

    <img class="profile-image" src="https://picsum.photos/150" alt="Profile Image">

    <i class="fas fa-user-circle"></i>

    <h2>Email: {{currentUser.email}}</h2>
  </div>
</div>