<div class="container mt-4">
  <h1 class="display-4">Our News</h1>
</div>


 <div class="card news-card w-100 h-100 d-flex flex-column"></div>
  {{#each news as |news|}}
    <div class="col">
      {{> card news=news}}
    </div>
  {{/each}}
</div>