<div class="container text-center mt-4">
  <h1 class="display-4">Our News</h1>
</div>


<div class="row row-cols-1 row-cols-md-2 g-4">
  {{#each news as |news|}}
    <div class="col">
      {{> card news=news}}
    </div>
  {{/each}}
</div>