 <h1 class="display-2 text-center " style="margin-top: 1rem;">Our News</h1>

<div class="container mt-5 text-center">
 



 <div class="card news-card w-100 h-100 d-flex flex-column">
  {{#each news as |news|}}
    <div class="col mb-4">
      {{> card news=news}}
    </div>
  {{/each}}
</div>
</div>
